{% extends "base.html" %}
    {% block title %}
        <title>{{ user }}'s Home Page</title>
    {% endblock %}
    {% block content %}
        <h1>Hello {{ user }}</h1>
        <form action="home-page" method="post">
            <label for="user">Username</label>
            <input type="text" name="user" id="user" required>
            <br>
            <label for="pass">UserHoe</label>
            <input type="password" name="pass" id="password" required>
            <br>
            <input type="submit">
        </form>
    {% endblock %}